[2019-11-01 02:17] jedjie opened #1 "Crossplatform compatibility"
I love awesome_dialog but my concern it should also run in  both Material and  Cupertino. Can we request a crossplatform compatibility? Thank you! 🍡

[2019-11-01 04:36] marcos930807 commented on #1
It should work on both because is a pure Dart Library.

[2019-11-01 04:55] jedjie commented on #1
Okay I will use it then. Thank you! Godbless! 💯 🥇

[2019-11-03 12:58] jedjie commented on #1
Hi Marco,
How to pass a Callback to the Ok and Cancel button? tia.

[2019-11-04 03:15] jedjie commented on #1
When using the btnOkOnPress with a Function Callback it doesnt pop internally, only on onDissmissCallback.

[2019-11-04 16:18] marcos930807 commented on #1
Please elaborate an example of your issue or if possible share the code that does not work as expected.
See de example Folder for hot to use awesome_dialog.
Example:
AwesomeDialog(
                      context: context,
                      dialogType: DialogType.INFO,
                      animType: AnimType.BOTTOMSLIDE,
                      tittle: 'INFO',
                      desc:

[2019-11-06 08:06] jedjie commented on #1
Hello Marco,
Sorry for my Delayed reply when specifying the callback into the btnOkOnPress the Dialog stays opened and does not pop, I am using the built in button of AwesomeDialog.

Here is my code.
void showAlertDialogOnOkCallback(String title, String msg,
      DialogType dialogType, BuildContext context, VoidCallback **onOkPress**) {
    AwesomeDialog(
      context: context,
      animType: A

[2019-11-07 14:18] marcos930807 commented on #1
@jedjie Thank you very much for your time the problem was when using the event of pressing the buttons specifically to navigate. in version 0.0.3 it was fixed only to reverse the order first pop the dialog and then execute the Function, the order was not important except if the function of pressing the button was to navigate.

[2019-11-08 13:53] jedjie commented on #1
i think i already did that, of popping the dialog before call the next procedure.but the dialog pops and the next procedure does not continue, for example shifting to my next screen as I sampled on my actual case code, but still i would also suggest you give it a try. But on the OnDismissCallBack it does execute the next page like a charm.

[2019-11-08 14:15] #1 closed

[2019-11-24 01:39] jedjie opened #2 "Awesome Dialog is now Perfect"
Hi Marco,
Just want to say thank you for this widget, AwesomeDialog now performs awesome, all the bells and whistles are now functioning awesome! Thank you!! :)

[2019-11-25 14:28] marcos930807 commented on #2
Thank you for using it and giving me your feedbacks.

[2019-11-25 14:28] #2 closed

[2019-11-29 10:58] The-five-stooges opened #3 "single OK button get a sizebox on left"
`btnCancel != null
                                ? Expanded(
                                    child: btnCancel ?? Container(),
                                  )
                                : Container(),
                            SizedBox(
                              width: 10,
                            ),
                            btnOk != null
                                ?

[2019-12-03 14:48] marcos930807 commented on #3
Tanks for raise an issue i will uplaod now the suggestion

[2019-12-03 14:54] marcos930807 commented on #3
This is fixed on 0.1.0

[2019-12-03 14:54] #3 closed

[2020-01-15 04:51] b-cancel opened #6 "Gif Format of icons"
The little icon animations are nice
but it would be great if you could provide them in gif format
because when you are offline they don't work

additionally, I would like to use them elsewhere

and by default, it might also be a good idea to not have them play after being opened
if you convert them into gifs you could use "flutter_gifimage" plugin to have them just play at the start and never agai

[2020-01-15 14:36] marcos930807 commented on #6
i @b-cancel tanks for rise and issue.

The icon is an animation of flare and works without taking into account connectivity, sometimes you may see the empty icon, that happens in debug mode but it has nothing to do if you are online or offline, and of icon is there. Try without debuging and you will see that it works perfectly.

I will add a prop later to control animation loop.

[2020-01-15 15:17] marcos930807 commented on #6
version 1.1.0 is now released with prop headerAnimationLoop, set this to false only play animation firts time. hope that help.

[2020-01-16 19:33] b-cancel commented on #6
@marcos930807 thanks for the help!
since you are so willing and open to suggestions ill toss in another :p

[2020-01-16 19:37] b-cancel opened #7 "Little X on modal to indicate you can close the dialog that way"
I am currently debating switching to this other pop up because of the x thing...
except this implementation isn't great either

https://pub.dev/packages/flutter_beautiful_popup
notice that there is an X below the pop-up
that is great! especially for usability for those not yet used to pop-ups in this way (few I know)
but having to tap the X exactly is annoying
it should just be there as a guide

i

[2020-01-17 01:08] #6 closed

[2020-01-21 21:24] b-cancel opened #8 "theme parameter"
right now I'm having to do some very annoying stuff because my modals and the rest of my app have a different theme
my app is dark mode
but I still want my modals to be light since its hard to tell that a dark pop up is a pop-up cuz the scrim is still dark

[2020-01-22 03:44] marcos930807 commented on #8
Awesome dialog use cardBackground color of theme, if you want the color be diferent from theme you can wrap the dialog inside a custom theme widget diferent from de apptheme. Hope that helps

[2020-02-13 01:11] b-cancel opened #9 "BIG PROBLEM: animations sometimes not playing"
I have no idea why... but sometimes the animations just wont play
usually its right after I unplug the cord and am no longer using the phone to debug
I have to close it
then open it again and then it begins working as expected
this is ofcourse a big problem if I'm trying to use this for production

[2020-02-13 02:20] marcos930807 commented on #9
This happens only en debug mode using hot reaload, it is related to flare i don't know why😅, but in release mode work perfect i use the library on production so dont worry my friend. Tested yourselfe a Release and you will see every think work like a charm.

[2020-02-14 05:03] b-cancel commented on #9
@marcos930807 thanks for being so helpful! :)

[2020-02-14 05:03] #9 closed

[2020-02-18 02:44] b-cancel opened #10 "remove spacing for buttons if there are no button"
this would be great
worst case some can simply add their own bottom spacing

being able to control padding, in general, would be nice honestly
should be a simple addition

thanks beforehand!

[2020-02-19 18:35] EducatedDeer opened #11 "[Suggestion] making btnOkText a Text Widget"
I don't know if it is possible but making btnOkText and btnCancelText a "Text Widget" instead of "String" would make it great

I dont want to make myself a button just to change Font family and font color.

I am using awesomeDialogs on my first ever app thanks for making it.

[2020-02-19 19:14] marcos930807 commented on #10
Hi @b-cancel check version 1.1.2

[2020-02-19 19:14] #10 closed

[2020-02-26 19:54] #11 closed

[2020-02-28 22:28] FarhanSaikh opened #12 "Getting error on btnOkOnPress and btnCancelOnPress:"
getting error on click btnOkOnPress and
              btnCancelOnPress:

════════ Exception caught by gesture ═══════════════════════════════════════════════════════════════
The following StateError was thrown while handling a gesture:
Bad state: Future already completed

When the exception was thrown, this was the stack:
#1      Route.didComplete (package:flutter/src/widgets/navigator.dart:208:19

[2020-03-16 10:31] haydenlak commented on #12
Try adding this line:

AwesomeDialog(context: context,
**useRootNavigator: true,**
 dialogType: DialogType.INFO,
...

[2020-03-19 10:11] haydenlak opened #13 "How do I make AwesomeDialog a stateful widget?"
I am trying to update a widget inside AwesomeDialog using setState but only the main widget tree gets updated. Is there a way to make AwesomeDialog stateful as well?

[2020-03-19 14:00] marcos930807 commented on #13
Hi @haydenlak, body of awesomeDialog is a Widget make it Stateful to update the body content as you wish, or use Bloc, ChangeNotifier, wathever to manage the state.

[2020-03-25 07:51] honghai2196 opened #14 "Automatically hide dialog when timed out"
Hi marcos,

I would like to ask you how can I hide dialog automatically for timed out (i.e 3 seconds from dialog appear).

Thank you very much.

[2020-03-25 14:42] marcos930807 commented on #14
Hi @honghai2196
You can achieve this by saving the AwesomeDialog instance and calling the dissmiss method at a certain time.
Example:
showDialogFor3Seconds() async {
    AwesomeDialog dialog = AwesomeDialog(
      context: context,
      dialogType: DialogType.INFO,
      animType: AnimType.BOTTOMSLIDE,
      tittle: 'Hi',
      desc: 'I am Here for only for 3 seconds',
    );
    dialog.show();

[2020-03-25 14:42] #14 closed

[2020-04-25 20:19] ifranciscoglez opened #15 "Error to call dissmiss() method"
Hello, can someone help me, I am trying to use the onDissmissCallBack parameter but I am getting an error. This is my code.

`  AwesomeDialog awesomeDialog;`

`AwesomeDialog(context: context,`
           ` dialogType: DialogType.INFO,`
           ` animType: AnimType.BOTTOMSLIDE,`
            `tittle: 'Dialog Title',`
           ` useRootNavigator: true,`
       `     desc: 'Dialog description her

[2020-04-25 22:28] marcos930807 commented on #15
First you need to asign the instance of Awesome Dialog (note the cascade operator to retrive the dialog instance ):

var awesomeDialog = AwesomeDialog(context: context,
dialogType: DialogType.INFO,
animType: AnimType.BOTTOMSLIDE,
tittle: 'Dialog Title',
desc: 'Dialog description here',
dismissOnTouchOutside: false,
btnCancelOnPress: () {},
btnOkOnPress: () {})..show();

The you can dissimiss that

[2020-04-25 22:53] ifranciscoglez commented on #15
Thank you Marcos 👍

[2020-04-26 00:28] #15 closed

[2020-04-26 03:54] ndenisj opened #16 "btnOkOnPress function close and show black screen"
[code]

[2020-04-26 04:11] marcos930807 commented on #16
If you use btnOkOnPress function theres is no need to call  Navigor.of(contex).pop because the dissmiss of the dialogue is handled internally.
Hop that help

[2020-04-26 12:00] ndenisj commented on #16
Thanks, it worked perfectly.

[2020-04-26 12:00] #16 closed

[2020-05-28 19:04] #12 closed

[2020-06-01 20:26] fabiancrx commented on #13
@haydenlak you could also use a StatefulBuilder

[2020-06-02 02:45] chounry opened #18 "Error: The getter 'headline6' isn't defined for the class 'TextTheme'"
The error message when trying to run the project :

Compiler message:
../../../flutter-sdk/flutter/.pub-cache/hosted/pub.dartlang.org/awesome_dialog-1.1.0/lib/src/vertical_stack_header_dialog.dart:60:66: Error: The getter 'headline6' isn't defined for the class 'TextTheme'.
 - 'TextTheme' is from 'package:flutter/src/material/text_theme.dart' ('../../../flutter-sdk/flutter/packages/flutter/lib/src

[2020-06-02 03:25] marcos930807 commented on #18
If you upgrade to latest flutter stable run flutter clean:wink:

[2020-06-04 16:26] chounry commented on #18
yes, i just upgraded

[2020-06-04 17:43] marcos930807 commented on #18
i will close it now feel free to reopen. thanks

[2020-06-04 17:43] #18 closed

[2020-06-04 17:47] marcos930807 commented on #14
Just for Future references now exist a prop AutoHide that do exactly this.

[2020-06-08 14:32] shuheu opened #19 "How do I scroll dialog which use TextField in body property when Keyboard showed."
As I said at this issues title, How do I  scroll dialog which use TextField in body property when Keyboard showed?

I'm trying to use TextField in a body property.
I focus TextField input area, Keyboard is showed up, the dialog is being under the keyboard.

Thank you:)

[2020-06-08 21:33] marcos930807 commented on #19
Hi shuheu, you can set dialog aligment topCenter to avoid dialog under the keyboard, later a will see if find a more proper Solution.:innocent:

[2020-06-09 15:10] shuheu commented on #19
Hi! marcos930807, Thank you for your quick reply🙇‍♂️
I tried using topCenter, surely the dialog isn't covered from the keyboard.
The dialog which has alignment topCenter is a little too high position😭
I'd like to be a position which is more bottom if it is possible.

[2020-06-09 17:12] marcos930807 commented on #19
Hi @shuheu the new version 1.1.1 released now cover the feature you need. You dont need to do anything just left the gravity by default, The Dialog now is aware of keyboard and scrool himself.

[2020-06-09 17:12] #19 closed

[2020-06-14 23:29] yaizudamashii opened #20 "determining whether dialog was dismissed via cancel or ok"
Currently the only way to determine if the AwesomeDialog instance was dismissed because of ok button press is by keeping a state in the presenting widget and referring it to onDissmissCallback.  It will be great if onDismissCallback can supply the close path of the dialog, maybe as an enum value.

[2020-06-16 16:24] amegos opened #21 "How to rebuild body of dialog ?"
It's possible to rebuild body of dialog, if yes how can I do that ?? because seState({}); doesn't work with me. please help.

[2020-06-16 16:35] marcos930807 commented on #21
Hi @amegos  you need to make body of AwesomeDialog a StateFullWidget and call setState inside of it. Hope that Help.

[2020-06-16 16:44] amegos commented on #21
Thank you it's worked perfectly 👌

[2020-06-16 16:51] #21 closed

[2020-06-16 17:04] #13 closed

[2020-06-16 23:29] Setti7 opened #22 "Why AwesomeDialog is not a Widget?"
I'm trying to use your package together with [Get](https://pub.dev/packages/get), but for it to show a dialog (with `Get.dialog`) it needs to be a Widget. So, is there a reason you chose to not make AwesomeDialog a widget?

[2020-06-17 01:09] marcos930807 commented on #22
After reading the Get documentation I can see that with Get.context you can get the context to use  in Awesome dialog although I don't particularly like to put the logic of dialogs inside the bussinesLogic someTime save times so, you could do:

AwesomeDialog(
            context: Get.context,
            dialogType: DialogType.INFO,
            animType: AnimType.BOTTOMSLIDE,
            title: 'D

[2020-06-17 13:31] Setti7 commented on #22
Thanks!

[2020-06-17 13:31] #22 closed

[2020-06-18 12:05] silveton opened #23 "block dismiss of the dialog when keypress back hardware"
Implements a WillPopScope to block of dissmiss the dialog  to keypress back hardware

[2020-06-27 03:28] marcos930807 commented on #23
hi @silveton sorry for the delay i was busy check the new version 1.1.3

[2020-06-27 03:28] #23 closed

[2020-06-27 09:35] function2000 opened #24 "Not refresh the value if date updated"
If I use RadioListTile in the body, and when update the value, it does not update on the screen.  Looks it is stateless widget.  Can you make it possible to refresh value on the screen.

[2020-06-27 13:40] marcos930807 commented on #24
hi @function2000 make body a StateFull Widget and call setState inside of it., or use Change Notifier With Provider. or other state management solution.

[2020-06-27 23:45] function2000 commented on #24
Thanks!

[2020-06-27 23:45] #24 closed

[2020-06-29 21:15] danhadv opened #25 "Documentation Suggestion for dismissing dialog."
I found your dialog today and overall very happy with it!

But one thing that might help others who are new to this library.

I wanted to be able to "dismiss" the dialog from a button in my body in the same way it does when you click the background.

Maybe my understanding of Root Navigator is a little lacking, but when I called dissmiss() from my button it would change the "page" I was on and NOT

[2020-07-06 22:06] robertoltrocha opened #26 "add enable and disable buttons options for Ok and Cancel btn - improvements"
Hi,
I would like to thank you for your package and would like to ask if it is possible to include the option of enable and disable for the buttons?
I would like to enable and disable the buttons under some conditions.
For example, after clicking on a checkbox agreeing to the terms, the Ok button would be enabled.

[2020-07-07 10:03] ishangavidusha opened #27 "Dialog width expanded on flutter web"
How can I prevent dialog expending on flutter web?

![awesome_dialog](https://user-images.githubusercontent.com/23151210/86765334-fdd40200-c083-11ea-80e6-0b583ceb1f42.JPG)

Doctor summary :

[!] Android toolchain - develop for Android devices (Android SDK version 30.0.0)
    ! Some Android licenses not accepted.  To resolve this, run: flutter doctor --android-licenses
[√] Chrome - develop for the

[2020-07-07 16:14] marcos930807 commented on #27
Hi @ishangavidusha currently by design the dialog occupies the width of the screen minus a margin, later a will add a prop to customize this, stay tuned.

[2020-07-07 16:20] marcos930807 commented on #26
hi @robertoltrocha for the moment a workaround could be have your own buttons inside the body make it stateFull Widget and manage yourselve the logic to enabe and disable those button on certain events.

[2020-07-07 20:51] robertoltrocha commented on #26
thanks for your answer and workaround. I will do this.

[2020-07-07 20:51] #26 closed

[2020-07-29 17:36] Crypt0Graphic opened #28 "Unable to load assets"
Dialog works normally but icons does not shown. I get this error:

[code]

Flutter Doctor Results

[✓] Flutter (Channel stable, v1.17.5, on Mac OS X 10.15.5 19F101, locale en-TR)

[✓] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
[✓] Xcode - develop for iOS and macOS (Xcode 11.5)
[✓] Android Studio (version 3.6)
[✓] VS Code (version 1.47.1)
[✓] Connected device (1 av

[2020-07-29 17:53] Crypt0Graphic commented on #28
Restarting Emulator fixed it.

[2020-07-29 19:59] marcos930807 commented on #28
Closing for now .

[2020-07-29 19:59] #28 closed

[2020-08-12 06:51] owengiri20 opened #31 "add x on top corner to close"
if we could have a feature like this it would be great (:
i need one asap

[2020-08-12 06:53] owengiri20 commented on #31
![photo_2020-08-12_14-53-29](https://user-images.githubusercontent.com/46738862/89984211-9aa14500-dcab-11ea-80db-e1d07a875d98.jpg)
something like this

[2020-08-14 13:40] StrangeNoob commented on #25
@danhadv Do you found the solutions of the dismissing the dialog ?

[2020-08-14 16:40] danhadv commented on #25
@StrangeNoob Only what I put in my original post.  I didn't have a problem, I was just suggesting an update to the documentation to make the the use of useRootNavigator clearer.  When I set this property to true, it functioned as I expected.

[2020-08-14 17:02] StrangeNoob commented on #25
@danhadv Thanks for the idea of yours.

[2020-08-14 19:52] abhishekchotaliya commented on #25
@danhadv,
Can you please attach a code snippet for closing the popup from body widgets? I want to do the same but unable to find the working solution.

[2020-08-19 19:35] johnareid54 opened #32 "Set max width of the dialog box"
Is it possible to set the maximum width of the dialog box?
When running on FlutterWeb on a normal computer screen the dialog is very large.

[2020-08-19 19:41] marcos930807 commented on #32
I will work on this soon stay tuned.

[2020-08-19 20:22] marcos930807 commented on #32
@johnareid54 check version 1.2.0.

[2020-08-19 20:22] #32 closed

[2020-08-19 20:23] marcos930807 commented on #27
hi @ishangavidusha sorry for delay, check version 1.2.0

[2020-08-19 20:23] #27 closed

[2020-08-20 05:27] ishangavidusha commented on #27
Nice,  I'll check and update to the latest version. Thank You.

[2020-08-20 06:21] johnareid54 commented on #32
Thanks @marcos930807 for the quick response, it worked fine, just awesome!

[2020-08-24 14:48] maddog666 opened #33 "Header animation take a few seconds to load"
I find that the header animation took a few seconds to load when AwesomeDialog was called for the first time.
Will appear immediately in subsequential calls.

[2020-08-24 16:32] marcos930807 commented on #33
This is normal on Flare animations in Debug Mode, dont warrie on Realese works well.

[2020-08-25 05:05] maddog666 commented on #33
I see, thank you.

[2020-08-25 05:05] #33 closed

[2020-08-27 00:58] rodriger06 opened #34 "dialogType: DialogType.NO_HEADER giving error"
hi,

I am using the following code which i copied from your code.
AwesomeDialog(
                  context: context,
                  headerAnimationLoop: false,
                  dialogType: DialogType.NO_HEADER,
                  tittle: 'No Header',
                  desc:
                  'Dialog description here..................................................',
                  btnOkOnPr

[2020-08-27 02:03] marcos930807 commented on #34
Make sure in your puspect.yml you are using the latest version.

[2020-08-27 02:11] rodriger06 commented on #34
yes, i checked and I have the latest version 1.2.0.  i reran the puspect.yml to get all the packages and still i see the same error

[2020-08-27 04:22] marcos930807 commented on #34
Ok I will check later stay tuned

[2020-08-30 15:05] JmyW opened #35 "Header gone forever when left app for a while and back (both Android and iOS)"
Hi Macro,
It's really awesome package. I very like it.
I found an issue both happen on Android and iOS, real device and simulator. And reproducible on your demo app.

My steps are following but not 100% reproduce it. In 2 hours test, I found 1 time on iPhone 6s device, 1 time on Android 6.0 device and 1 time on Android 10 emulator.
1. open your demo app
2. click warning dialog
3. cancel it
4. pres

[2020-08-30 15:06] JmyW commented on #35
Any when this phenomenon happened, it's forever until close app.

[2020-08-30 18:27] marcos930807 commented on #35
Hi @JmyW
This Only Happens sometime on Debug MODE when usinf Falre Animation, on release works perfect. Dont Worrie.

[2020-08-31 01:04] JmyW commented on #35
Excellent! Thank for prompt reply to confirm it.

[2020-09-01 09:23] wangxingxing123654 opened #36 "how to set the modal in full width and full height"

[2020-09-07 08:00] sashker opened #37 "Dialog width doesn't change"
Hello.

I'm struggling to change the width of a dialog, trying to provide both **MediaQuery.of(context).size.width** and a static value.

Tested on iOS emulator and an Android 10 device.

Thanks in advance

[2020-09-07 15:40] marcos930807 commented on #37
hi @sashker by deafult the witdth is MediaQuery.of(context).size.width and if you want a custom value, in the last version there is a width prop.
If you could share a small snippet with your problem will be nice.

[2020-09-08 06:27] sashker commented on #37
Hi @marcos930807

Basically, I tried to define the width property:

AwesomeDialog(
            context: context,
            width: MediaQuery.of(context).size.width,
            dialogType: DialogType.INFO,
            animType: AnimType.BOTTOMSLIDE,
            title: 'Dialog Title',
            desc: 'Dialog description here.............',
            btnCancelOnPress: () {},
            btnOkO

[2020-09-13 09:47] JmyW opened #38 "Icon pop-up timing"
Hi Sir,
May I know whether the icon can be pop-up earlier? When dialog appear, it's no icon until a second. I would hope I can adjust it's around a half second or shorter. Is it possible?

[2020-09-13 17:29] marcos930807 commented on #38
This just happens sometimes on DEBUG mode. It is normal for flare animations. On Realease works well

[2020-09-14 13:44] mustafaersoyer opened #39 "Text of the buttons is not centered"
Hi, i use this plugin with ok and cancel buttons. But text of ok and cancel button is not centered. Shifted a little to the right.  It appears in the image on the link. Please fix it, thank you, best regars.

[https://hizliresim.com/jaIrEr](url)

[2020-09-14 17:38] #38 closed

[2020-10-10 08:26] Lima21 opened #40 "NoSuchMethodError: The method 'pop' was called on null. Receiver: null"
Hi, thank you for the amazing package :)
I'm getting this error in a lot of users, but I cannot replicate it on my phone. Do you know what it can be?
`Non-fatal Exception: java.lang.Exception: NoSuchMethodError: The method 'pop' was called on null.
Receiver: null
Tried calling: pop()
       at AwesomeDialog._buildFancyButtonOk.<fn>(awesome_dialog.dart:178)
       at _AnimatedButtonState.build.<fn>

[2020-10-11 18:43] marcos930807 commented on #40
Hi @Lima21 Apparently for some reason navigator.of (contex) is null at the time of dissmiss the dialog I will add a safe call operator there. Without a code to try to reproduce the error, is what we can do for now, let me tell you if you find more information about it.

[2020-10-11 18:57] marcos930807 commented on #40
Hi @Lima21 try version 1.2.1.

[2020-10-11 18:58] #7 closed

[2020-10-11 19:16] Lima21 commented on #40
Hi, thank you, I will test and add the app to production! Did you replicate the issue?

Thank you so much for the amazing package :)

[2020-10-19 08:51] chenloong83 opened #41 "Info dialog type"
Info dialog should show "i" icon, instead of exclamation mark "!" like warning dialog

[2020-10-22 08:14] SachinTanpure opened #42 "Dialog type Notification"
Feature request
Please please add support to show notification type dialog with animated bell

[2020-10-22 21:32] Lima21 commented on #40
Version 1.2.1 fixed the issue thank you!

[2020-10-22 21:49] #40 closed

[2020-10-27 16:02] cumanzorx07 opened #43 "Add the possibility to change the color of contextual elements in the AwesomeDialog"
As a developer, I would like to be able to change colors of the animated icons for success, warning, info, danger, etc.

For example, dark green for success, orange for danger, black for warning, etc. (just to mention some possibilities)

[2020-11-05 02:51] slic-rick opened #44 "How do i dismiss the dialog"
Everytime i press the buttons to naviagate to another page the dialog is not dismissed

  showDialog: () {
                                AwesomeDialog(
                                  context: context,
                                  dialogType: DialogType.NO_HEADER,
                                  animType: AnimType.TOPSLIDE,
                                  title: 'Release Music',

[2020-11-13 15:54] barangungor opened #45 "DialogType Question Mark"
I want use your dialog for a mini survey but dialogType have no question mark. Does it take long to add?

[2020-11-16 15:00] daniwaxman opened #46 "Font Size of btn Text"
Is there a way to set the fontSize of the btnOkText and btnCancelText .

[2020-11-18 19:16] thaksharadhananjaya opened #49 "Flutter web AwesomeDialog not show header icon"

[2020-11-18 19:39] thaksharadhananjaya commented on #49
https://pub.dev/packages/awesome_dialog

[2020-12-28 12:37] barangungor opened #51 "Dynamic DialogType Color"
Can you add dynamic color to DialogTypes ?

[2020-12-29 16:19] marcos930807 commented on #31
Hi @owengiri20 this is now implemented via pr #50.

[2020-12-29 16:19] #31 closed

[2020-12-29 16:20] marcos930807 commented on #46
hi @daniwaxman for the moment you could implemente you custom btnOk and btnCancel Widget with any customization you like.

[2020-12-29 17:06] marcos930807 commented on #45
Hi @barangungor This is Now suported.

[2020-12-29 17:06] #45 closed

[2020-12-29 17:15] marcos930807 commented on #41
Hi @chenloong83 this is now fixed.

[2020-12-29 17:15] #41 closed

[2021-01-01 12:54] Than-DE opened #52 "Add 'Custom' AnimType"
For the sake of customisability, it would be greate if I could pass my own animation into AwesomeDialog.  That would also allow me to set my own curve, etc.

[2021-01-01 13:34] Than-DE opened #53 "Add custom background color for dialog"
Add support for custom background colors of the dialog + circular header part (if used).

If no color provided, just use the Theme's card color as it is already currently in place.

[2021-01-01 16:42] marcos930807 commented on #53
Thanks close via #54

[2021-01-01 16:42] #53 closed

[2021-01-03 13:36] #46 closed

[2021-01-03 13:36] daniwaxman commented on #46
Thanks

[2021-01-08 14:36] AMNESlA opened #56 "width"
The method 'toDouble'
was called on null.Receiver: null
Tried calling: toDouble()

[2021-01-08 18:52] mfturkcan opened #57 "Awesome dialog on black screen"
Calling it in initState or before build causes black screen background.

[2021-01-08 23:03] #57 closed

[2021-01-20 14:29] ben55j opened #61 "Is it possible to refresh dialog content while it is shown ?"
Hello,

I am using the Dialog with a custom body, to display a counter of quantity (text & buttons).
My problem is that the text widget is not update dynamically while the dialog is shown.
Do you have an idea how I can handle it?

Many thanks,
Benjamin
![AlertDialog](https://user-images.githubusercontent.com/7754473/105188443-345eff00-5b34-11eb-88a9-be59cf8d8a42.png)

[2021-01-20 15:41] marcos930807 commented on #61
hi @ben55j, thanks for the positive feedback. Make de Body of the dialog a stateful widget, then handle its state using set state or alternative use a stateless with another management state solution like Provider, Bloc etc. If you need more help you can share a piece of code, and I can help you.

[2021-01-20 15:45] ben55j commented on #61
Thank you Marco for your fast reply and for your help 🙏🏻! I will try that asap and let you know.

Best
Ben
Le 20 janv. 2021 à 16:42 +0100, Marcos Rodriguez Toranzo <notifications@github.com>, a écrit :

[2021-02-04 10:23] giaur500 opened #62 "Use AwesomeDialog with WillPopScope to confirm app exit"
This is how I did it with standard AlertDialog:

[code]

How to do that with AwesomeDialog? I can;t see any way to put it into showDialog. Any advice?

[2021-02-12 14:04] GreenHatHG commented on #20
Could you please tell me how to achieve this? Now I need to verify to close the dialog after clicking OK

[2021-02-18 15:46] #61 closed

[2021-02-18 15:47] #56 closed

[2021-03-02 20:37] rubenaster opened #64 "Feature Request: Make AnimatedButton.buttonTextStyle configurable in AwesomeDialog constructor"
Morning!

I'd love being able to set the TextStyle of buttons. So far we have the text itself, the icon and the button color in the AwesomeDialog constructor. But I've noticed that the AnimatedButton class takes a TextStyle property and it would be awesome if we could define that in the AwesomeDialog constructor for both buttons.

Currently I need to create a full AnimatedButton by msyself which i

[2021-03-02 21:10] marcos930807 commented on #64
hi @rubenaster check version 1.3.2. 😁

[2021-03-02 21:10] #64 closed

[2021-03-04 09:37] kw2019ltd opened #65 "migrate to null safety"
Description

All dependencies are migrated to null safety. So we should migrate this package to null safety.
Resources

 https://www.youtube.com/watch?v=eBr5tlumwlg&feature=youtu.be
  https://medium.com/dartlang/announcing-dart-null-safety-beta-87610fee6730

[2021-03-05 00:52] marcos930807 commented on #65
hi @kw2019ltd i am waiting for a dependency on flare_flutter package so, "All dependencies are migrated to null safety." this is not correct.

[2021-03-05 00:53] marcos930807 commented on #65
When https://pub.dev/packages/flare_flutter lands with null safety, then i will migrate.

[2021-03-14 19:01] marcos930807 commented on #65
This is Done

[2021-03-14 19:01] #65 closed

[2021-03-17 09:17] pcelis19 opened #66 "Labeled null safe, but when but unable to compile because compiler says not null safe"
When I try to compile my application I get the following error

I looked at the Dependencies, and found the following:
- `flare_flutter` depends on `flare_dart` which isn't null safe and is "discontinued".

If I remove AwesomeDialog from my dependencies and compile without it, everything runs fine.

[2021-03-17 11:32] marcos930807 commented on #66
Hi, are you using de null safety prerelesse version 2.0??.

[2021-03-17 11:37] marcos930807 commented on #66
Even the prerelesse version do not relay on flare_dart as a transitive dependency

[2021-03-31 07:16] PcolBP opened #67 "FlareHeader default in nullsafety-0 won't be hit, DialogType.INFO reversed"
![image](https://user-images.githubusercontent.com/67896443/113105253-aec99080-9201-11eb-81a7-6ece8e13011a.png)
As you can see, after upgrade to `awesome_dialog: ^2.0.0-nullsafety.0` INFO dialog reversed.

Warning case looks ok:
![image](https://user-images.githubusercontent.com/67896443/113105597-0cf67380-9202-11eb-8bb3-2dbdd6e0a38e.png)

Changes

[code]

on

[code]

Solved problem.
![image](http

[2021-03-31 07:56] itmediacreations opened #68 "Looking up a deactivated widget's ancestor is unsafe."
Reproduce:
1. Open dialog,
2. minimalize emulator,
3. wait few minutes,
4. unminimalize emulator
5. press button on dialog to exit dialog
6. error occur:
[code]

[2021-03-31 11:06] itmediacreations commented on #67
Changes

[code]

on

[code]

Solved problem.

[2021-03-31 11:18] itmediacreations commented on #67
After NNBD Default switch wont be hit because DialogType can not be null, should we add DialogType.INFO and DialogType.InfoReversed ?

[2021-03-31 12:58] marcos930807 commented on #67
Hi @itmediacreations the change on DialogType.INFO animation was introduced on version 1.3.0 as per request on #41, the Idea of INFO_REVERSED look great to me.

[2021-03-31 13:01] marcos930807 commented on #67
This is true but no a big deal since DialogType has a default value of INFO. I will take a look to your PR.

[2021-03-31 13:03] itmediacreations commented on #67
Yes it has, but default one is reversed, and can not provide any other DialogType currently to get normal one DialogType.INFO

[2021-03-31 13:11] marcos930807 commented on #67
Your PR is Great, but you do you think you can leave INFO as i and INFOREVERSE as Exclamation !, to be consistent with #41, then you could use INFOREVERSE and have de old INFO behavior.

[2021-03-31 13:27] #67 closed, assigned to nobody

[2021-04-02 08:43] pcelis19 commented on #66
I recently tried adding the package and I continue to get the null safety error. Here is my error:

[code]

[2021-04-02 17:57] marcos930807 commented on #66
@pcelis19 make shure use the null safety version awesome_dialog: ^2.0.0-nullsafety.1

[2021-04-07 15:17] alberteije opened #71 "Shortcut for Buttons OR Focus for Buttons - Goal: desktop"
Hi guys, is it possible to implement shorcuts for buttons or the possibility to focus the buttons (OK and CANCEL) so the user do not need to use mouse.

This request is for desktop environment.

[2021-04-15 00:09] hedi-ghodhbane opened #72 "add duration for the top icon animation"

[2021-04-15 00:20] #72 closed

[2021-04-28 07:59] #68 closed

[2021-05-05 20:49] alberteije commented on #71
Any progress on this?

[2021-05-09 12:40] milazmidza opened #75 "Disrupting routing flow"
When I call the AwesomeDialog it reroute and navigate to the same page which is not necessary.

[2021-05-09 12:51] #75 closed

[2021-05-16 03:44] ShamsArfeen opened #76 "Dialogue not dismissing when on OK press button"
I traced the issue and finally found the root of the problem. It is kind of an unexpected behavior to me, and I am not sure if its an error but no such description found on the readme.

Problem: Dialogue wont close if your app's main() is like this

`void main() {
  runApp(new MaterialApp(
    home: new MyApp(),
  ));
}`

Consider changing main() to following, and the dialogues will dismiss normal

[2021-05-16 03:48] ShamsArfeen commented on #44
I traced the issue and finally found the root of the problem. It is kind of an unexpected behavior to me.

Problem: Dialogue wont close if your app's main() is like this

`void main() {
  runApp(new MaterialApp(
    home: new MyApp(),
  ));
}`

Consider changing main() to following, and the dialogues will dismiss normally then
`void main() => runApp( new MyApp());`

_______________________________

[2021-05-18 17:57] yhatibi commented on #12
Worked for me, thanks!

[2021-05-28 02:21] #34 closed

[2021-05-28 02:26] #44 closed

[2021-05-28 04:10] marcos930807 commented on #20
Hi @yaizudamashii this is DONE on 2.1.0.

[2021-05-28 04:10] #20 closed

[2021-06-20 14:45] daniwaxman opened #77 "Autohide callback"
Is there a callaback when autoHide is called?

[2021-06-20 15:27] #77 closed

[2021-06-20 15:27] daniwaxman commented on #77
I see onDissmissCallback is called even for autohide.

[2021-06-26 18:10] EhabSalah opened #78 "custom border radius to the dialog shape is not supported!"
why does custom border radius to the dialog shape is not supported?

[2021-07-02 17:40] marcos930807 commented on #78
Fixed by #79

[2021-07-02 17:40] #78 closed

[2021-07-29 21:48] DuffyHomer opened #80 "4w3som3 Dialog"

[2021-07-30 03:36] marcos930807 commented on #80
No description provide.

[2021-07-30 03:36] #80 closed

[2021-08-06 12:11] itismejy opened #81 "How do I call set State?"
I would like to call set state and update the contents in the AwesomeDialog, but it is not updating the dialog but rather calling set state on the components under the dialog.

[2021-09-11 18:29] actumn commented on #62
I know it's been a long time,
but below may help you.

[code]

[2021-09-13 16:05] TMAnhoangthinh opened #82 "How can i change the height of button?"

[2021-09-15 08:41] intercretasyo opened #83 "Sometimes pressing OK needs 3 times in order to close the popup"
Hi,

Sometimes no issue in pressing the OK button. The pop-up will close already. But sometimes I experience where the OK needs to be pressed 3 times in order to close the pop-up. When this issue happens, I notice that the background is closer to black. Then as I keep on pressing OK, the background becomes clearer and clearer.

[2021-09-15 09:37] intercretasyo commented on #83
Hi,

I'm not sure but it could be this code that messes the pop-up.
```FocusScope.of(context).unfocus();```

[2021-09-15 14:05] marcos930807 commented on #83
You need to be aware of what navigator you are using and if is a nested one. Try use the prop useRootNavigator.

[2021-09-15 19:07] intercretasyo commented on #83
Hi,

Thanks for your suggestion. I will look into it.

[2021-09-15 23:51] myConsciousness commented on #81
@itismejy
@harunme3

Hello, maybe it's already solved but by using StatefulBuilder in the body of AwesomeDialog, you can setState in the dialog :)

[2021-11-08 02:16] Alecckie opened #84 "Prevent Default Closing of Dialog on OK Button Click"
Thank you for your awesome plugin.
When processing a form using the dialog, I'd like to be able to perform some field validation upon **OK Button** click without closing the dialog first, then close the **dialog manually** upon successful validation.

Is there a method like, `closeDialogOnOk:false` with an option to `dialog.dismiss()` for manual dismissing?

[2021-11-08 16:13] marcos930807 commented on #84
You can use a custom button for ok and cancel, in that case the handle of closing the dialog is up to you using dialog.dismiss()

[2021-11-11 14:26] Alecckie commented on #84
Works perfectly ... thanks.
Custom button with `Navigator.pop` works perfectly.

[2021-11-11 14:26] #84 closed

[2021-11-18 03:37] eggysudianto opened #85 "does support html code?"
this package does support html code in title and desc? like font color, font weight, etc

[2021-11-26 03:52] sgehrman opened #86 "awesome_dialog >=2.0.0 depends on simple_animations ^3.1.1"
awesome_dialog >=2.0.0 depends on simple_animations ^3.1.1

[2021-12-07 09:57] Ronjack commented on #84
![image](https://user-images.githubusercontent.com/16069241/145007524-5fb90c59-b486-4191-858e-74d323172cc2.png)

this works for me

[2021-12-09 10:24] kkorgol commented on #86
Plugin devs please update dependencies to latest versions

[2021-12-11 16:48] marcos930807 commented on #86
Done!! check update 2.1.2

[2021-12-11 16:48] #86 closed

[2021-12-20 05:05] Retr0sec7 opened #87 "Can it return an Awesome dialog as a Widget?"
Hello, I'm currently building an app with bloc/cubit state management. I want to show the dialogs based on a current state, but I can't call them outside a button function.
So is there any way to return it as a Widget ?

`Error: The element type Set<AwesomeDialog> can't be assigned to the list type 'Widget'
`

So for example:

[code]

[2021-12-24 14:47] ben55j opened #88 "Trigger Enter key from Keyboard, for Ok btn"
Hello,

Thank you for this great package.
I am looking to be able to detect the keyboard key "enter" additionally to the Ok button.
Is there a way to do that ?

I am using this package for the web.

Many thanks,
Benjamin

[2022-01-23 16:18] SittiphanSittisak opened #89 "How to delete the space of the title without a title?"
Basic code:
AwesomeDialog(
    context: context,
    headerAnimationLoop: false,
    dialogType: DialogType.NO_HEADER,
    padding: EdgeInsets.zero,
   dialogBorderRadius: BorderRadius.only(),
    width: 250,
    body: Text("ABCDEFGHIJKLMNOPQRSTUVWXZY"),
  ).show();

awesome_dialog: ^2.1.2
<img width="143" alt="sca" src="https://user-images.githubusercontent.com/59549741/150687689-855ee522-e6a8-43

[2022-02-08 10:44] john-scaria opened #91 "Barrier Color"
custom barrier color

[2022-02-22 20:53] qusai-alhallak opened #92 "There is an bug when create release app -- buttons sometime does not work will in release mode"

[2022-03-06 03:10] NaMeTaKeN33 opened #93 "Anyone know what themedata tag the description text color uses?"
Trying to change the "desc:" color, but not sure what tag to use in the theme.

[2022-03-06 03:47] marcos930807 commented on #93
You can always use a custom body with a custom text with custom color etc etc. Or change the correct property in themedata (desc is a simple Text widget with no style so must be a bodyText1)

[2022-03-06 14:41] NaMeTaKeN33 commented on #93
Yeah. I was trying to refrain from using a custom body, but you answer did point me in the right direction. It wasn't bodyText1 for me, however bodyText2 did set the color it.

Thanks.

[2022-03-06 14:41] #93 closed

[2022-03-24 23:34] ducquynhnguyeninfo commented on #62
Hi, I can not use this as a return from the AwesomeDialog

[code]
as it yields
`
 [VERBOSE-2:ui_dart_state.cc(209)] Unhandled Exception: type 'Null' is not a subtype of type 'bool' in type cast
`

[2022-03-28 12:24] OutdatedGuy commented on #25
@danhadv and @StrangeNoob , if you want to `dismiss` the dialog with a custom **button/body**, just call the `Navigator.pop` function.

It'll produce same results as clicking in the **background/barrier**.

[2022-03-28 13:09] OutdatedGuy commented on #85
Not at the moment, only for buttons.

But working on it.

[2022-03-28 13:09] OutdatedGuy commented on #91
Working on it

[2022-03-28 13:27] #25 closed

[2022-03-28 14:20] OutdatedGuy commented on #82
That is not possible at the moment.
But you can provide your own custom buttons in the `body` property

[2022-03-28 14:30] #91 closed

[2022-03-28 15:02] OutdatedGuy commented on #88
Working on it

[2022-03-28 18:43] OutdatedGuy commented on #89
It's not possible at the moment.

Working on it

[2022-03-31 15:45] marcos930807 commented on #71
closed via #97

[2022-03-31 15:45] #71 closed

[2022-04-02 17:20] OutdatedGuy commented on #88
@marcos930807 Please close this issue if resolved

[2022-04-02 17:20] OutdatedGuy commented on #85
@marcos930807  Please close this issue if resolved

[2022-04-02 17:27] #88 closed

[2022-04-02 17:29] #89 closed

[2022-04-03 00:01] #85 closed

[2022-04-04 12:46] OutdatedGuy commented on #82
@marcos930807 Please close this issue if resolved

[2022-04-04 12:47] OutdatedGuy commented on #62
@marcos930807 Please close this issue if resolved

[2022-04-04 18:38] marcos930807 commented on #87
@Retr0sec7 a little late maybe but, you could use BlocListener to react to state changes on your cubit or bloc, then show the dialog. Hope that helps.

[2022-04-04 18:38] #87 closed

[2022-04-04 18:39] #83 closed

[2022-04-04 18:41] marcos930807 commented on #92
Can you please share a project with minimal configuration that trigger the error. Becasue this library is available in multiples release app without problem so far.

[2022-04-04 18:41] #82 closed

[2022-04-04 18:42] #81 closed

[2022-04-04 18:43] #62 closed

[2022-04-04 18:45] #49 closed

[2022-04-04 18:46] #35 closed

[2022-04-18 12:03] YouSour opened #101 "Touch Outside Dismiss"
hi , why touch outside to dismiss it keeping pop my current page, any idea ?
**implement** :
[code]
**version** : awesome_dialog: ^2.2.0
**problem** : [https://drive.google.com/file/d/11gaFXAia6-3kb5K36MMG55UHwktLzkAa/view?usp=sharing](https://drive.google.com/file/d/11gaFXAia6-3kb5K36MMG55UHwktLzkAa/view?usp=sharing)

[2022-04-18 14:11] marcos930807 commented on #101
That depend on which context do you use for showing the dialog, my advice is that try using the prop useRootNavigator.

[2022-04-19 00:59] YouSour commented on #101
@marcos930807 i try with useRootNavigator still not work.

[2022-04-27 06:03] myConsciousness commented on #52
@marcos930807  Can I take this issue?

[2022-04-27 16:23] marcos930807 commented on #52
@myConsciousness The current implementation uses some predefined animations on top of simple_animation, but I'm open to exploring other alternatives. So go for it and make a PR with your proposal.

[2022-05-01 20:09] OutdatedGuy commented on #101
Hey, @YouSour I think I understood the issue. I'll try to fix the issue as soon as possible.
Thanks for the report.

[2022-05-01 20:13] OutdatedGuy commented on #39
Yo @mustafaersoyer, I looked into the mentioned issue, but wasn't able to produce it. I tried it on multiple devices but all the text were in center.

Can you check if your string contains trailing or leading spaces.

[2022-05-01 20:55] #101 closed

[2022-05-02 01:33] YDA93 opened #103 "dismissOnTouchOutside does not work when dismissOnBackKeyPress is false"

[2022-05-02 01:44] marcos930807 commented on #103
@YDA93 thanks for catch this Bug. Already working on It

[2022-05-02 02:29] YDA93 commented on #103
I am not sure if this can be done through barrierDismissible since WillPopScope will always prevent any pop from back button and touches.

I think it would work if we create a stack and nest two widgets inside it:
1. Gesture detector with max width and hight sized box that respond to any touches and force a pop according to dismissOnTouchOutside.
2. Dialog widget

[2022-05-02 02:31] marcos930807 commented on #103
@YDA93 you are right it is a little bit tricky, let mo do some research, maybe i found a more nice solution. Any help will be awesome.

[2022-05-02 02:42] marcos930807 commented on #103
@YDA93 i have found a nice trick to determine whenever the dismiss is from ModalBarrier or BackButton using this
if (StackTrace.current.toString().contains('ModalBarrier')) so fix is in Progress.

[2022-05-02 02:54] marcos930807 commented on #103
@YDA93 check version 2.2.1, let me know if the issue is fixed.

[2022-05-02 03:05] YDA93 commented on #103
@marcos930807  Perfect, well done!

[2022-05-02 03:05] #103 closed

[2022-05-13 00:08] murad-alm opened #105 "returning a Future<bool?> from an AwesomeDialog instance"
Hi there,
thanks for the awesome package!

I am trying to return a bool? from the AwesomeDialog.
The function is supposed to return true on OK press or false on CANCEL.
When the Dialog is dismissed (via back press or a click outside), null should be returned.

I tried doing it this way but unfortunately, it didn't work..

[code]

Thanks again!
_edit: code_

[2022-05-13 00:15] murad-alm commented on #105
Oh, I guess I should've been a little bit more patient..
Closing this issue as I've figured out the solution.

I edited the line
[code]
To:
[code]

[2022-05-13 00:19] murad-alm commented on #105
Trying the following code, but the return statements are not being executed for some reason.

[code]

[2022-05-13 00:25] murad-alm commented on #105
I got it now.
As I said in the previous comment, the return statements didn't get executed for some reason, so I figured out this:

[code]

[2022-05-13 00:25] #105 closed

[2022-06-10 14:03] tsuncp opened #106 "suggestion : add reverse ok/cancel button position function"
maybe you can add a property to reverse the order
someone(me) would prefer the "OK" button to display on the left side.

[2022-06-12 17:07] skylastn opened #107 "Error in new Flutter 3"
../../../../System/flutter/.pub-cache/hosted/pub.dartlang.org/flare_flutter-3.0.2/lib/flare_render_box.dart:167:26: Warning: Operand of null-aware operation '?.' has type 'SchedulerBinding' which excludes null.
 - 'SchedulerBinding' is from 'package:flutter/src/scheduler/binding.dart' ('../../../../System/flutter/packages/flutter/lib/src/scheduler/binding.dart').
        SchedulerBinding.instance?

[2022-06-16 13:54] MuhammadMahrash commented on #107
Same issue

[2022-06-17 23:44] salahmusamac commented on #107
@marcos930807
use this
dependency_overrides:
  flare_flutter :
    git:
      url: https://github.com/mdpe-ir/Flare-Flutter
      path: flare_flutter
      ref: stable

[2022-07-03 15:50] tungvt80 commented on #107
Nok work . When they fixed i will update de version of dependency.

[2022-07-07 14:10] tripany commented on #107
@marcos930807

Flare is not maintained anymore. You have to migrate to Rive instead.

See https://github.com/2d-inc/Flare-Flutter

[2022-07-12 15:28] marcos930807 commented on #107
There is no easy migration from flare to Rive. Rive 2 is not fully backguard compatible, i do not have time to recreate al animation in rive2. So by now i will be using dependency override for the flare package pointing to a PR with the Fix.

[2022-07-27 14:45] matiazar commented on #106
please!

[2022-08-02 15:21] matiazar opened #109 "Im having very slow performance"
I have implemented on my app this plugin. but everytime pop dialog shows, it takes a long time to appair and the icon doesnt load. Its very slow performance. Not user friendly.

What can I check?
My flutter version is 2.10.5

[2022-08-03 02:03] fleetimee commented on #109
make sure you run on release mode if you want perfomance

[2022-08-03 12:01] EhabSalah commented on #107
Any updates?

[2022-08-04 15:00] marcos930807 commented on #106
In the next release i will work on this feature.

[2022-08-11 20:53] bahadirarslan commented on #37
I am also struggle with width of dialog. Even if I set 5000 as width, it has some internal width that can not be changed.

[2022-08-12 08:10] robman70 opened #110 "Pass function (closure) to btnOkOnPress"
I have a problem passing a function to btnOkOnPress.

In a previous version (2.1.3) I could use this code:

[code]

Then, inside a button, I called the previous function:

[code]

And all worked perfectly.

Using the current version (2.2.1), VS Code shows an error: "The argument type 'Function' can't be assigned to the parameter type 'dynamic Function()?" (refers to 'btnOkOnPress: onPress'), so I

[2022-08-16 14:50] OutdatedGuy commented on #110
Yo @robman70, if your `onPress` function doesn't take any arguments, then change the parameter type of `onPress` fn in `questionDialog` to `Function()` or `VoidCallback`

i.e.
[code]
or
[code]

[2022-08-17 07:58] robman70 commented on #110
@OutdatedGuy, thank you for your response but unfortunately none of your solutions worked for me

[2022-08-17 08:19] robman70 commented on #110
@OutdatedGuy , sorry... my error:

[code]

worked perfectly.

Thank you!

[2022-08-17 08:19] #110 closed

[2022-08-17 10:26] Junesui opened #111 "Please update to the new dependency package。"
Please update to the new dependency package。

----------------
flare_flutter:
    git:
      url: https://github.com/tsinis/Flare-Flutter

[2022-08-17 13:33] OutdatedGuy commented on #110
Btw, I just realized that here you aren't calling the function `onPress` but just returning it. It should have been like this instead.
[code]

or

[code]

[2022-08-17 13:56] robman70 commented on #110
Yes.
Now (thanks to your previous tip) it just works with:

[code]

[2022-08-20 06:30] marcos930807 commented on #111
Publishable package can only have dependency from pub.dev

[2022-08-21 10:07] #111 closed

[2022-08-21 10:08] Junesui commented on #111
.

[2022-08-23 11:35] Ruslanbek0809 commented on #107
If you still get issue using dependency override put it like this:
[code]

[2022-08-26 01:41] nguyenthao1988 opened #112 "How to blur barrier background like ios"

[2022-09-02 13:02] Junesui commented on #68
same issue.

hi
how did you solve this problem?

[2022-09-06 15:58] hussenIbrahim opened #113 "buttons paddings"
add parameter for buttons paddings

[2022-09-07 01:22] marcos930807 commented on #107
The version 3.0 is out with new Rive runtime for animation a some other changes. Now the problem is gone.

[2022-09-07 01:59] marcos930807 commented on #111
@Junesui version 3.0 is out with new Rive runtime.

[2022-09-07 17:57] #107 closed

[2022-09-13 11:51] Junesui opened #114 "set duration when the dialog Dismissed"
hi marcos,

When I close the dialog, the hidden animation takes a long time, how can I make it close faster

**my code**
[code]

[2022-09-13 12:20] Junesui commented on #114
![image](https://user-images.githubusercontent.com/53398033/189899252-d37ec9fb-a12b-40fc-9176-e0035e485213.png)

[2022-09-13 13:23] marcos930807 commented on #114
@Junesui check version 3.0.1

[2022-09-13 20:54] #114 closed

[2022-09-17 05:00] fggluiz opened #115 "Temporary remove QUESTION"
_[Breaking] Temporary remove QUESTION type header for being incompatible with rive._

Do you have any predictions on how much you will implement the QUESTION option?
My application uses it in multiple places.

[2022-09-19 08:25] idish commented on #115
Same here, I'll be needing to revert to older version as the question type is important for me.

[2022-09-23 14:25] fggluiz commented on #115
Hello Marco. I imported an old question file (Flare -> Rive 2). Check if it is correct.

[question.zip](https://github.com/marcos930807/awesomeDialogs/files/9634497/question.zip)

[2022-09-23 15:34] marcos930807 commented on #115
Can you please share a backup of this animation so i can change some things like anime name, background to transparent aspect ratio etc. You can do that by exporting a .rev file

[2022-09-23 17:54] fggluiz commented on #115
Yes!
[question.zip](https://github.com/marcos930807/awesomeDialogs/files/9636177/question.zip)

[2022-09-23 17:55] marcos930807 commented on #115
ok thanks @fggluiz  i will test this and let you known later.

[2022-09-23 20:13] marcos930807 commented on #115
@idish @fggluiz Version 3.0.2 is out with question type support again thanks @fggluiz

[2022-09-23 20:13] #115 closed

[2022-10-19 03:59] eggysudianto opened #117 "please create dynamic close icon position"
can you make closeIcon position dynamic free set by dev?

[code]

[2022-11-09 20:51] mandrake99 commented on #112
on the Show method, i made the following local changes to the library to create that effect,

import 'dart:ui' show ImageFilter;

 transitionBuilder: (
          BuildContext context,
          Animation<double> animation,
          Animation<double> secondaryAnimation,
          Widget child,
        ) =>
            BackdropFilter(
                filter: ImageFilter.blur(
                    si

[2022-11-10 00:34] nguyenthao1988 commented on #112
Thanks for sharing.

[2022-11-10 00:36] marcos930807 commented on #112
i will add this behavior in next releases.

[2022-11-17 16:27] Rahaaaa opened #118 "Changing Header Icon Color"
Hi
Trying to change the header icon's color, but it seems it is not possible.
the only way I can think of is using a custom header.
Is there any other way?

[2022-11-21 21:43] mehmetemregokberk opened #119 "DialogTypes not showing on web releases"
Hi,
Dialog Types like DialogType.info icons not showing on when i release the web version.
But iOS or Android versions works perfectly. Even web version not have a problem on the debug mode.
Am i doing something wrong?

Thanks.